@use "variables" as *;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (max-width: $tablet-breakpoint) {
      @content;
    }
  } @else if $breakpoint == "mobile" {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
}
