@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.About {
  display: flex;
  flex-direction: column;
  width: $about-width;
  margin: $about-margin;

  @include respond-to("tablet") {
    width: $about-width-tablet;
    margin: $about-margin-tablet;
  }

  @include respond-to("mobile") {
    width: $about-width-mobile;
    margin: $about-margin-mobile;
  }
}
