.Home {
  display: flex;
  justify-content: center; // Centrer le .card-container
  align-items: flex-start; // Aligner les éléments en haut
  border-radius: 25px;
  background: #f6f6f6; // Couleur de fond du conteneur Home
  width: 80%;
  margin: 43px auto 50px; // Centrer le conteneur Home dans son parent

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 colonnes égales
    gap: 50px 60px;
    width: 100%; // Le conteneur des cartes prend toute la largeur
    margin: 56px 50px 43px;

    .card {
      position: relative;
      cursor: pointer;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-end; // Aligner le contenu de la carte en bas
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      height: 100%; // Hauteur définie pour permettre l'alignement en bas

      .card-image {
        width: 100%; // L'image prend toute la largeur de la carte
        height: auto; // La hauteur de l'image est déterminée par son contenu
        object-fit: cover; // S'assure que l'image couvre l'espace disponible sans déformation
        flex-grow: 1; // L'image peut croître pour remplir l'espace disponible
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .card-title {
        position: absolute; // Positionnement absolu pour superposer sur l'image
        bottom: 0; // Aligné au bas de la carte
        width: 100%; // Assurez-vous que le titre s'étend sur toute la largeur
        background: rgba(0, 0, 0, 0.3); // Fond légèrement transparent
        padding: 10px;
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .Home {
    background: none;
    margin: 0;
    width: 80%;
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // 3 colonnes égales
      gap: 50px 60px;
      margin: 20px 0px 43px;
    }
  }
}
@media (max-width: 768px) {
  .Home {
    background: none;
    margin: 0;
    width: 95%;
    .card-container {
      display: flex;
      flex-direction: column;
      gap: 22px;
      margin: 20px 0px 43px;
    }
  }
}
