@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.Home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: $home-border-radius;
  background: $home-bg-color;
  width: $home-width;
  margin: $home-margin;

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $card-gap;
    width: 100%;
    margin: $card-container-margin;

    .card {
      position: relative;
      cursor: pointer;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: $card-border-radius;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      height: 100%;

      .card-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        flex-grow: 1;
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }

      .card-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $card-title-bg-color;
        padding: 10px;
        color: $color-text;
        font-family: $font-family-base;
        font-size: $card-title-font-size;
        font-weight: $font-weight-bold;
        line-height: $card-title-line-height;
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
      }
    }
  }
  // Styles pour tablette
  @include respond-to("tablet") {
    background: none;
    margin: 0;
    width: $home-width-tablet;
    .card-container {
      grid-template-columns: repeat(2, 1fr); // 2 colonnes pour tablette
      gap: $card-gap-tablet;
      margin: $card-container-margin-tablet;
    }
  }

  // Styles pour mobile
  @include respond-to("mobile") {
    background: none;
    margin: 0;
    width: $home-width-mobile;
    .card-container {
      display: flex;
      flex-direction: column;
      gap: $card-gap-mobile;
      margin: $card-container-margin-mobile;
    }
  }
}
