.LogementDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 50px 0;

  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 415px;
    position: relative;
    border-radius: 20px;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5); // Ajustez la couleur et l'opacité
      color: white;
      font-size: 75px;
      padding: 5px; // Ajustez le padding
      border-radius: 50%; // Cercles autour des flèches

      &.left {
        left: 10px;
        cursor: pointer;
      }
      &.right {
        right: 10px;
        cursor: pointer;
      }
    }

    .carousel-img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }
    .image-counter {
      position: absolute;
      bottom: 10px;
      left: 50%; // Position de départ au milieu
      transform: translateX(-50%); // Décaler de 50% de sa propre largeur pour centrer
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 0.9em;
      z-index: 10;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .description-information {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      .description-title-location-tag {
        display: flex;
        flex-direction: column;
        width: 80%;

        h1 {
          color: #ff6060;
          font-family: Montserrat;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 142.6%; /* 51.336px */
          margin: 0;
        }

        .location {
          color: #ff6060;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 142.6%; /* 25.668px */

          p {
            margin: 0;
          }
        }

        .tags {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;

          span {
            width: 115px;
            height: 20px;
            border-radius: 10px;
            background: #ff6060;
            color: #fff;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 19.964px */
            margin-right: 10px;
          }
        }
      }

      .description-host-rating {
        display: flex;
        flex-direction: column;
        width: 20%;

        .description-host {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .host-name {
            color: #ff6060;
            text-align: right;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
            margin-right: 10px;
          }

          .host-picture {
            width: 64px; /* ou toute autre taille */
            height: 64px;
            border-radius: 50%; /* pour rendre l'image circulaire */
          }
        }

        .description-rating {
          display: flex;
          justify-content: center;
          align-items: center;

          .star {
            color: #dddddd; /* Couleur de fond grise pour les étoiles non sélectionnées */
            margin: 0 10px;
            font-size: 36px;
            text-align: right;
          }

          .star.filled {
            color: #ff6060; /* Couleur rouge pour les étoiles sélectionnées */
          }
        }
      }
    }

    .description-collapse {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 76px;
    }
  }
}
