.LogementDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 50px 0;

  .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .description-information {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      .description-title-location-tag {
        display: flex;
        flex-direction: column;
        width: 80%;

        h1 {
          color: #ff6060;
          font-family: Montserrat;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 142.6%; /* 51.336px */
          margin: 0;
        }

        .location {
          color: #ff6060;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 142.6%; /* 25.668px */

          p {
            margin: 0;
          }
        }

        .tags {
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;

          span {
            padding: 0 10px;
            border-radius: 10px;
            background: #ff6060;
            color: #fff;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 19.964px */
            margin-right: 10px;
          }
        }
      }

      .description-host-rating {
        display: flex;
        flex-direction: column;
        width: 20%;

        .description-host {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .host-name {
            color: #ff6060;
            text-align: right;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
            margin-right: 10px;
          }

          .host-picture {
            width: 64px; /* ou toute autre taille */
            height: 64px;
            border-radius: 50%; /* pour rendre l'image circulaire */
          }
        }

        .description-rating {
          display: flex;
          justify-content: center;
          align-items: center;

          .star {
            color: #dddddd; /* Couleur de fond grise pour les étoiles non sélectionnées */
            margin: 0 10px;
            font-size: 36px;
            text-align: right;
          }

          .star.filled {
            color: #ff6060; /* Couleur rouge pour les étoiles sélectionnées */
          }
        }
      }
    }

    .description-collapse {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 76px;
    }
  }
}

@media (max-width: 768px) {
  .LogementDetails {
    margin: 27px 0;
    width: 95%;
    .description {
      .description-information {
        flex-direction: column;

        .description-title-location-tag {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 10px;

          h1 {
            font-size: 18px;
          }

          .location {
            font-size: 14px;
          }
          .tags {
            span {
              font-size: 10px;
            }
          }
        }

        .description-host-rating {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          justify-content: space-between;

          .description-host {
            .host-name {
              font-size: 12px;
            }
          }
          .description-rating {
            .star {
              font-size: 18px;
              margin: 0 5px;
            }
          }
        }
      }

      .description-collapse {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
