@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.MissingPage {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: $missing-page-margin;
  gap: $missing-page-gap;

  .error {
    display: flex;
    width: $error-width;
    height: $error-height;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    h1 {
      color: $primary-color;
      text-align: center;
      font-family: $font-family-base;
      font-size: $error-title-font-size;
      font-weight: $font-weight-Largebold;
      line-height: $font-line-height;
      margin: 0;
    }
  }

  p {
    color: $primary-color;
    font-family: $font-family-base;
    font-size: $error-text-font-size;
    font-weight: $font-weight-bold;
    line-height: $font-line-height;
    margin: 0;
    text-align: center;
  }

  .link {
    color: $primary-color;
    font-family: $font-family-base;
    font-size: $link-font-size;
    font-weight: $font-weight-bold;
    line-height: $font-line-height;
    text-decoration-line: underline;
  }
  @include respond-to("mobile") {
    margin: 113px 0px;
    gap: 113px;

    .error {
      width: 198px;
      height: 99px;
      h1 {
        font-size: 96px;
      }
    }
    p {
      font-size: 18px;
      width: 65%;
    }
    .link {
      font-size: 14px;
    }
  }
}
