.collapse-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto; // Centrer le conteneur About
}

.collapsible {
  width: 100%;
  margin-bottom: 10px; // Espace entre les sections
}

.collapsible-header {
  background-color: #ff6060; // Rouge
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; // Espace entre le titre et l'icône
  align-items: center; // Centre verticalement le titre et l'icône
  cursor: pointer;
  border-radius: 5px; // Coins arrondis
  font-size: 1.2em;
}

.collapsible-icon {
  font-size: 32px; // Taille de l'icône
}

.collapsible-content {
  color: #ff6060;
  border-radius: 0 0 5px 5px; // Coins arrondis en bas
  padding: 0 1em; // Ajoutez le padding ici pour l'inclure dans l'animation
  transform-origin: top;
  transition: transform 0.3s ease, height 0.3s ease;
  overflow: hidden;
  height: 0; //
  &.open {
    height: auto; // Quand le contenu est ouvert, la hauteur est automatique
    padding-top: 1em; // Rétablissez le padding lorsque le contenu est ouvert
    padding-bottom: 1em;
    background-color: #f6f6f6;
  }
  .collapsible-inner {
    transform: scaleY(0); // Commencez avec scaleY à 0 pour masquer le contenu
  }

  &.open .collapsible-inner {
    transform: scaleY(1); // Utilisez scaleY pour animer la hauteur
  }
  p {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .collapse-container {
    width: 92%;
  }
}
@media (max-width: 768px) {
  .collapse-container {
    width: 100%;
  }
}
