@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.collapse-container {
  @include center-flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.collapsible {
  width: 100%;
  margin-bottom: 10px;
}

.collapsible-header {
  background-color: $primary-color;
  color: $color-text;
  padding: 0px 10px;
  @include center-flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.collapsible-icon {
  svg {
    height: 2em;
    width: 2em;
  }
}

.collapsible-content {
  color: $primary-color;
  border-radius: 0 0 5px 5px;
  padding: 0 1em;
  transform-origin: top;
  transition: transform 0.3s ease, height 0.3s ease;
  overflow: hidden;
  height: 0;

  &.open {
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $color-background;
  }

  .collapsible-inner {
    transform: scaleY(0);
  }

  &.open .collapsible-inner {
    transform: scaleY(1);
  }

  p {
    padding: 0;
  }

  .no-bullets {
    list-style-type: none;
  }
}

@include respond-to("tablet") {
  .collapse-container {
    width: 92%;
  }
}

@include respond-to("mobile") {
  .collapse-container {
    width: 100%;
  }
}
