footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 209px;
  width: 100%;

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //   // width: 513px;
    gap: 28.556px;
    .logo {
      width: auto;
      height: 39.444px;
    }
    p {
      text-align: center;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      margin: 0;
    }
  }
}
@media (max-width: 768px) {
  footer {
    .footer-container {
      width: 100px;
      height: 46px;
      gap: 28.556px;
      p {
        font-size: 12px;
      }
    }
  }
}
