// 68px
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding-top: 45px;
  gap: 50px;

  .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    width: 210.322px;
    height: 68px;
  }
}

@media (max-width: 768px) {
  header {
    padding-top: 20px;
    width: 95%;
    gap: 27px;

    .logo {
      width: 145px;
      height: 46.88px;
    }
  }
}
