@use "../utils/variables" as *;
@use "../utils/keyframes" as *;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $loader-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Pour s'assurer que le loader est au-dessus du contenu */
  animation: fadeOut $loader-fade-out-duration ease forwards;

  &:after {
    content: "";
    height: $loader-size;
    width: $loader-size;
    border: $loader-border solid $primary-color;
    border-top: $loader-border solid transparent;
    border-radius: 50%;
    animation: spin $loader-animation-duration linear infinite, fadeOut $loader-fade-out-duration ease-in-out 3s forwards;
  }
}
