.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; // Espace entre les éléments de la liste
  }

  a {
    color: #ff6060;
    text-decoration: none;

    &.nav-active {
      text-decoration: underline;
    }
  }
}
@media (max-width: 768px) {
  .navigation {
    font-size: 12px;
    text-transform: uppercase;
    justify-content: space-around;
    ul {
      gap: 20px; // Espace entre les éléments de la liste
    }
  }
}
