@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $navigation-text-color;
  font-family: $font-family-base;
  font-size: $navigation-font-size;
  font-weight: $font-weight-bold;
  line-height: $font-line-height; // Vous pouvez également définir cette valeur comme une variable si elle est réutilisée

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: $navigation-gap;
  }

  a {
    color: $navigation-text-color;
    text-decoration: none;

    &.nav-active {
      text-decoration: underline;
    }
  }

  @include respond-to("mobile") {
    font-size: $navigation-font-size-mobile;
    text-transform: uppercase;
    justify-content: space-around;

    ul {
      gap: $navigation-gap-mobile;
    }
  }
}
